/* animasi CSS */
@keyframes gerakanKeKanan {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0); } }

@keyframes gerakanKeKiri {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  100% {
    transform: translateX(0); } }

@keyframes gerakanKeAtas {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0); } }

/* 1rem = ukuran root font size */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.text-center {
  text-align: center; }

.m-btm-lg {
  margin-bottom: 8rem; }

.m-btm-md {
  margin-bottom: 4rem; }

.m-btm-sm {
  margin-bottom: 2rem; }

html {
  font-size: 10px;
  /* 1rem = 10px */ }

body {
  font-family: "Lato", sans-serif;
  color: #777;
  line-height: 1.7; }

.header__utama {
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  margin-bottom: 4rem; }
  .header__utama--judul {
    font-size: 6rem;
    display: block;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: gerakanKeKanan;
    animation-duration: 2s; }
  .header__utama--keterangan {
    font-size: 2rem;
    display: block;
    font-weight: 400;
    letter-spacing: 1.6rem;
    animation-name: gerakanKeKiri;
    animation-duration: 2s; }

.header__kedua {
  font-size: 4rem;
  text-transform: uppercase;
  background: linear-gradient(to right, rgba(255, 255, 217, 0.81), rgba(239, 249, 189, 0.8), rgba(213, 239, 179, 0.8), rgba(169, 221, 183, 0.8), rgba(116, 201, 189, 0.8), rgba(70, 180, 194, 0.8), rgba(40, 151, 191, 0.8), rgba(32, 115, 178, 0.8), rgba(35, 78, 160, 0.8), rgba(29, 49, 133, 0.8), rgba(29, 49, 133, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.header__ketiga {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.9rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 1;
  animation-name: gerakanKeAtas;
  animation-duration: 2s;
  font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .btn::after {
    content: "";
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transition: .2s all; }
  .btn:hover::after {
    transform: scale(1.4, 1.7);
    opacity: 0; }
  .btn--white:after {
    background-color: #fff; }
  .btn--white {
    background: #fff;
    color: #777; }
  .btn--text {
    font-size: 1.6rem;
    text-decoration: none;
    color: #55c57d;
    display: inline-block;
    padding: 1rem 2rem;
    border-bottom: 1px solid #55c57d;
    font-weight: 600;
    transition: all .3s; }
    .btn--text:hover {
      transform: translateY(-3px);
      color: #fff;
      background-color: #55c57d;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .btn--text:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: all .2s; }
    .composition__photo:hover {
      transform: scale(1.2);
      z-index: 10; }
    .composition__photo--1 {
      top: -2rem;
      left: 0; }
    .composition__photo--2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--3 {
      top: 10rem;
      left: 20%; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3); }

.header {
  height: 95vh;
  background: linear-gradient(to left bottom, rgba(255, 255, 217, 0.81), rgba(239, 249, 189, 0.8), rgba(213, 239, 179, 0.8), rgba(169, 221, 183, 0.8), rgba(116, 201, 189, 0.8), rgba(70, 180, 194, 0.8), rgba(40, 151, 191, 0.8), rgba(32, 115, 178, 0.8), rgba(35, 78, 160, 0.8), rgba(29, 49, 133, 0.8), rgba(29, 49, 133, 0.8)), url("../img/hero.jpg") no-repeat top/cover;
  /* background: url("../img/hero.jpg") no-repeat top /cover; */
  /* background-repeat: no-repeat;
    background-position: top;
    background-size: cover; */
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem); }

.section-about {
  padding: 20rem 0; }
