.footer{
    background: #333;
    padding: 10rem 0 5rem 0;
    font-size: 1.4rem;

    &__logo-box{
        margin-bottom: 6rem;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }
    &__navigation{
        border-top: 1px solid $warna-soft-white;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: $warna-soft-white;
        display: inline-block;
        transition: all .2s;
        background: #333;
        padding: .3rem;
    
        &:hover{
            box-shadow: 0 1.5rem 2.5rem rgba($warna-hitam, .2);
            transform: scale(1.2) rotate(5deg);
            color: $medium-green;
        }
        &:active{
            transform: scale(1.07) rotate(3deg);
            box-shadow: 1.3rem 2rem rgba($warna-hitam, .2); 
        }
    }
    &__copyright{
        color: $warna-soft-white;
        border-top: 1px solid $warna-soft-white;
        padding-top: 2rem;
        float: right;
        width: 80%;
    }
}