// warna
$light-green: #7ed56f;
$medium-green: #55c57d;
$dark-green: #28b485;

$warna-orange-muda: #ffb900;
$warna-orange-tua: #ff7730;
$warna-biru-muda: #2998ff;
$warna-biru-tua:#5643fa;

$warna-text: #777;
$warna-putih: #fff;
$warna-hitam: #000;

$green-gradient: linear-gradient(to right,rgba(255, 255, 217, 0.81), rgba(239, 249, 189, 0.8), rgba(213, 239, 179, 0.8), rgba(169, 221, 183, 0.8), rgba(116, 201, 189, 0.8), rgba(70, 180, 194, 0.8), rgba(40, 151, 191, 0.8), rgba(32, 115, 178, 0.8), rgba(35, 78, 160, 0.8), rgba(29, 49, 133, 0.8), rgba(29, 49, 133, 0.8) );

// grid
$panjang-grid: 114rem;
$margin-vertikal:8rem;
$margin-horizontal:6rem;