.btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.9rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: .2s all ;
    position: relative;  
    z-index: 1;
    animation-name: gerakanKeAtas;
    animation-duration: 2s;
    font-size: 1.6rem;
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
    }
    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow:  0px .5rem 1rem rgba(0,0,0,0.3); 
    }
    
    &::after{
        content: "";
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1; 
        z-index: -1;
        transition: .2s all;
    }
    &:hover::after{
        transform: scale(1.4, 1.7);
        opacity: 0;
    }

    &--white{
        background: $warna-putih;
        color: $warna-abu-abu;
        &::after{
            background-color: $warna-putih;
        }
    }
    
    &--green{
        background: $medium-green;
        color: $warna-putih;
        border: none;
        &::after{
            background-color: $medium-green;
        }
    }

    &--text{
        font-size: 1.6rem;
        text-decoration: none;
        color: $medium-green;
        display: inline-block;
        padding: 1rem 2rem;
        border-bottom: 1px solid $medium-green;
        font-weight: 600;
        transition: all .3s;
        @include responsive( tablet-potrait){
            margin-bottom: 6rem;
        }
        &:hover{
            transform: translateY(-3px);
            color: $warna-putih;
            background-color: $medium-green;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
        }
        &:active{
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
        }
    }
}

