.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        display: inline-block;
        height: 7rem;
        width: 7rem;
        position: fixed;
        right: 3.5rem;
        top: 3.5rem;
        background: $warna-putih;
        z-index: 200;
        border-radius: 100%;
        box-shadow: 0 1rem 2rem rgba($warna-hitam, .2);
        text-align: center;
        cursor: pointer;
    }
    &__background{
        display: inline-block;
        height: 6rem;
        width: 6rem;
        position: fixed;
        right: 4rem;
        top: 4rem;
        background: $radial-blue-gradient;
        z-index: 100;
        border-radius: 100%;
        transition: all .8s $easeInOutBack;
    }

    &__nav{
        position: fixed;
        z-index: 150;
        height: 100vh;
        width: 0%;
        opacity: 0;
        visibility: hidden;
        transition: all .5s $easeInOutBack;
    }
    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 3rem;
        color: $warna-putih;
        display: inline-block;
        font-weight: 300;
        background: linear-gradient(120deg, transparent 50%, white 50%);
        background-position: 0%;
        background-size: 230%;
        padding: 1rem 2rem;
        transition: all .5s;
        &:hover{
            background-position: 100%;
            color: #63C3B0;
        }
    }

    // initiator 
    &__checkbox:checked ~ &__background{
        transform: scale(60);
    }
    &__checkbox:checked ~ &__nav{
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
    &__checkbox:checked ~ &__button &__icon{
        background: transparent;
        &::before{
            top: 0;
            transform: rotate(-135deg);
        }
        &::after{
            top: 0;
            transform: rotate(135deg);
        }
    }


    // icon
    &__icon{
        width: 3rem;
        height: 2px;
        display: inline-block;
        background-color: $dark-green;
        position: relative;
        margin-top: 3.5rem;
        transition: all .15s;
        &::before, 
        &::after{ 
            transition: all .5s;
            content: "";
            height: 100%;
            width: 100%;
            display: inline-block;
            position: absolute;
            background: $dark-green;
        }
        &::before{
            top: -1rem;
            left: 0;
        }
        &::after{
            top: 1rem;
            left: 0;
        }
    }
}