body{
    font-family: "Lato", sans-serif;
    color: #777;
    line-height: 1.7 ;
}

.header__utama{
    text-transform: uppercase;
    color: #fff;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    margin-bottom: 4rem;
    &--judul{
        font-size: 6rem;
        display: block;
        font-weight: 400;
        letter-spacing: 3rem;
        animation-name: gerakanKeKanan;
        animation-duration: 2s ;
    }
    
    &--keterangan{
        font-size: 2rem;
        display: block;
        font-weight: 400;
        letter-spacing: 1.6rem;
        animation-name: gerakanKeKiri;
        animation-duration: 2s;
    }
}

.header__kedua{
    font-size: 3.5rem;
    text-transform: uppercase;
    background: $green-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header__ketiga{
    font-size: 1.6rem;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 4rem;
    }
}