.section-about{
    padding: 20rem 0;
    margin-top: -10rem;
    @include responsive(tablet-potrait){
        padding: 15rem 0; 
    }
}

.section-fitur{
    padding: 20rem 0;
    margin-top: -10rem;
    background: $green-gradient, url("../../img/nat-4.jpg") no-repeat top /cover;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    position: relative;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    @include responsive( tablet-potrait){
        padding: 25rem 0rem 10rem 0;
    }
}

.section-tours{
    padding: 20rem 0;
    background: #eeeeee;
    margin-top: -12rem;
}

.section-testimonial{
    padding: 20rem 0;
    position: relative;
    @include responsive( tablet-potrait){
        padding: 15rem 0 10rem 0;
    }
}

.section-booking{
    padding: 15rem 0;
    background: $green-gradient;
    height: 80rem;
    @include responsive( tablet-potrait){
        padding: 10rem 0;
    }
}