.section-about{
    padding: 20rem 0;
    margin-top: -10rem;
}

.section-fitur{
    padding: 20rem 0;
    margin-top: -10rem;
    background: $green-gradient, url("../../img/nat-4.jpg") no-repeat top /cover;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    position: relative;
}

.section-tours{
    padding: 20rem 0;
    background: #eeeeee;
    margin-top: -12rem;
}

.section-testimonial{
    padding: 20rem 0;
    position: relative;
}

.section-booking{
    padding: 15rem 0;
    background: $green-gradient;
    height: 80rem;
}